body{
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  background-color: rgb(25, 25, 25);
}
.App {
  text-align: center;
}


.mobileMenu{
  display: none;
}
.menuIcon{
  display: none;
}
.hero{
  height: 60vh;
  background-image: url(../public/pawel-czerwinski-NTYYL9Eb9y8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.navWrapper{
  display: flex;
  width: 100%;
  align-items: center;
  background-color: rgb(6, 6, 6);;
  
 
}
.menu{
  background-image: url(../public/menuIcon.png);
  height: 30px;
  width: 30px;
  position: absolute;
  left: 30px;
  top: 20px;
  display: none;
}
ul{
  display: flex;
  align-items: left;
  
}
ul p{
  margin-right: 80px;
  color: white;
}
ul a{
  text-decoration: none;
  color: rgb(19, 19, 19);
  transition: all 0.3s;
}
ul a:hover{
  transform: translateY(-5px);
  text-decoration: underline;
}


.navWrapper .name{
  position: absolute;
  right: 50px;
  color: white;
}
.homeWrapper{
  

}
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.title{
  text-align: left;
}
#largeText{
  font-size: 84px;
  margin-left: 80px;
  margin-bottom: 0;
  color: white;
}
#smallerText{
  font-size: 36px;
  margin-left: 200px;
  margin-top: 0;
  color: white;
}
#welcomemsg{
  font-size: 18px;
  width: 350px;
  margin-left: 35%;
  text-align: left;
  color: white;
}
hr{
  width: 90%;
}
.spacing{
  height: 20px;
}
#welcomeBtn{
  
 
  margin-left: 35%;

  width: 250px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #B2214E;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 28px;
  color: #B2214E;
  transition: all 0.3s;
}
#welcomeBtn:hover{
  cursor: pointer;
  transform: translateY(-5px);
}
.welcomeWrapper{
  text-align: center;
  
  align-items: center;
  justify-content: center;
  
  
}
.welcmsgwrapper{
  width: 400px;
  text-align: center;
  
}
.welcomeimg{
  background-image: url(../public/undraw_dev_focus_re_6iwt.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  margin-right: 10%;
  border-radius: 80px 80px 0px 0px;
  transition: all 1s;
 
}
.welcomeimg:hover{
  transform: translateX(30px);
}
.textimgwrapper{
  display: flex;
  justify-content: space-around;
}
.skillswrapper{
  background-color: rgb(6, 6, 6);
  margin-bottom: -20px;
  
}
.skillswrapper #skillTitle {
  font-size: 46px;
}
.skillswrapper h1{
  font-size: 84px;
  color: #032A23;
  margin-top: 200px;
}
.skillbox{
  color: white;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  max-height: 180px;
  min-height: 180px;
  
}
.skillbox h2{
  padding: 50px;
}

.skillboxwrapper{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;

}
.skillbtn{
  
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #B2214E;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 28px;
  transition: all 0.3s;
  
}
.skillbtn:hover{
  transform: translateY(-5px);
}
#skillsBtn{
  
  text-decoration: none;
  color: #B2214E;
}
#projectBtn{
  width: 250px;
  height: 60px;
  background-color: #B2214E;
  border-radius: 10px;
  border-style: none;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 28px;
  color: white;
  transition: all 0.3s;
}
#projectBtn:hover{
  cursor: pointer;
  transform: translateY(-5px);
}
#projectTitle{
  color: white;
}

.nameandlinks h1{
  text-align: left;
  color: white;
}

.sociallinks{
  border-style: solid;
  border-width: 0.3px;
  
  border-radius: 10px;
  height: 120px;
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.links{
  display: flex;
  justify-content: space-around;
}
.text{
  margin-bottom: 45px;
  margin-top: 15px;
  color: white;
}
.instagram{
  background-image: url(../public/6929237_instagram_icon.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  

}
.linkedin{
  background-image: url(../public/317725_linkedin_social_icon.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  margin-top: 5px;

}
.github{
  background-image: url(../public/3259374_github_media_social_icon.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.footerwrapper{
  background-color: rgb(25,25,25);
  
  
}

.footerwrapper p{
  
  text-decoration: underline;
}

#projectTitle{
  font-size: 84px;
  text-align: left;
  margin-left: 10%;
}
#box1{
  background-image: url(../public/ss1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 260px;
}
.projectbox{
  width: 450px;
  margin-top: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  color: white;
  
}
.btns{
  width: 450px;
  
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  
  
 
}
.btns a{
 

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
  text-decoration: none;
  width: 250px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  
  
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 20px;
  color: #B2214E;
  
}
.project{
  margin-top: 50px;
}

.project h3{
  color: white;
  font-size: 38px;
  
}
.projectdisplaywrapper{
  
  display: grid;
  margin: auto;
  margin-bottom: 380px;
  grid-template-columns: 30% 30%;
  justify-content: center;
  align-items: center;
  gap: 5%;

}
.projtext{
  
  margin-top: -20px;
  height: 90px;
  padding-top: 1px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.projectswrapper #topBtn{
  margin: 0;
  
}
.projTitleWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.ux{
  width: 600px;
  display: flex;
  margin-right: 200px;
  justify-content: space-evenly;
  align-items: center;
}

#aboutPara{
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
  line-height: 2;
}
#box2{
  background-image: url(../public/ss2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 260px;
}
#box3{
  background-image: url(../public/socialmediaproj.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 260px;
}
#box4{
  background-image: url(../public/ss3.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 450px;
  height: 260px;
}

#box6{
  background-image: url(../public/ss6.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 260px;
}
#box7{
  background-image: url(../public/ss7.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 260px;
}
#box8{
  background-image: url(../public/ss8.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 260px;
}
#box9{
  background-image: url(../public/ss9.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 260px;
}

h1{
  font-family: 'Playfair Display', serif;
}
#aboutTitle{
  font-size: 84px;
  text-align: left;
  margin-left: 10%;
  color: white;
}
#aboutPara{
  color: white;
}
.area{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  color: white;
}

.workHead{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
  
}


.eduItem{
  display: flex;
  justify-content: space-evenly;
}
.right{
  width: 50%;
  
}
#skills{
  width: 550px;
  font-size: larger;
  text-align: left;
  line-height: 30px;
  
}
.skillContainer{
  display: flex;
  justify-content: space-evenly;
}
#nobold{
  font-weight: normal;
  font-size: smaller;
}
#workList{
  display: block;
  text-align: left;
  width: 550px;
  
}
#workList li{
  margin-top: 20px;
}
.workInfo{
  display: flex;
  justify-content: space-evenly;
}

.workTitle{
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  text-align: left;
}


#contactTitle{
  font-size: 84px;
  text-align: left;
  margin-left: 10%;
}
.contimg{
  background-image: url(../public/contactImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 260px;
  height: 500px;
  border-style: solid;
  border-width: 2px;
}
.conttext{
  width: 500px;
  height: 500px;
  border-style: solid;
  border-width: 0.3px;
  color: white;

}
#contactTitle{
  color: white;
}
.contactdisplay{
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  margin-top: 30px;
}
.contsocials{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.boxes{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  color: white;
}
#email {
  font-size: 12px;
  text-decoration: none;
  color: white;
  
}
#phonenumber{
  font-size: 12px;
  text-decoration: none;
  color: white;
}
#email:hover{
  text-decoration: underline;
}
#phonenumber:hover{
  text-decoration: underline;
}
.phone{
  background-color: #B2214E;
  height: 200px;
  width: 160px;

}
.email{
  background-color: #008DC4;
  height: 200px;
  width: 160px;


}
#topBtn{
  color: #032A23;
  text-decoration: underline;
  margin-bottom: 50px;
  
}
#topBtn:hover{
  cursor: pointer;
}

@media screen and (max-width: 1200px){
  .projectdisplaywrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 80px;
    
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  .project{
    margin-top: 80px;
  }
}

@media screen and (max-width: 800px) {
  .name{
    display: none;
  }
  .projTitleWrapper{
    display: block;
  }
  .ux{
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  #projectTitle{
    text-align: center;
    margin: auto;
    width: 100%;
  }
  
  .title p h1{
    text-align: center;
  }
  #welcomemsg{
    margin: auto;
    text-align: center;
  }
  #welcomeBtn{
    margin: auto;
    margin-top: 10px;
  }
  #fullmenu{
    display: none;
  }
  .menuIcon{
    display: block;
    width: 100%;
    position: absolute;
    z-index: 10;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mobileMenu{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgb(25, 25, 25);
    margin-top: 0;
    font-size: 56px;
  }
  .mobileMenu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  ul{
    display: block;
  }
  ul p{
    
    margin-right: 0;
  }
  .menu{
    display: block;
  }
.welcomeimg{
  display: none;
  
  
}
.skillboxwrapper{
  display: grid;
  grid-template-columns: 40% 40%;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  

}
#footerLinks{
  display: flex;
  
}
#footerLinks a{
  margin-right: 10px;
}

.projectbox{
  margin: auto;
}
.btns{
  margin: auto;
  margin-bottom: 30px;
}
.area{
  
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  
}
.workTitle{
  width: max-content;
  text-align: center;
  
}
#skills{
  text-align: center;
}
#nobold{
  text-align: left;
}

.text1{
  margin: auto;
  width: 90%;
  margin-top: 20px;
}
.text2{
  margin: auto;
  margin-top: 20px;
}
.image1{
  margin: auto;
}
.image2{
  margin: auto;
  margin-top: 20px;
}
.image3{
  margin: auto;
}
.contimg{
  display: none;
}
  
}
@media screen and (max-width: 400px){
.title{
  text-align: center;
  
}
#fullmenu{
  display: none;
}
.menuIcon{
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heroItems{
  color: red;
}

  #largeText{
   
    font-size: 46px;
    margin: auto;
    margin-bottom: 0;
  }
  #smallerText{
    font-size: 36px;
    margin: auto;
    margin-top: 0;
  }
  #welcomemsg{
    font-size: 12px;
    width: 320px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #welcomeBtn{
   
   
    margin: auto;
    margin-top: 10px;
  }
  .welcmsgwrapper{
    
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .skillswrapper h1{
    font-size: 60px;
    color: white;
  }
  .skillbox{
   
    max-height: 80px;
    min-height: 80px;
  }
  .skillbox h2{
    padding: 0;

  }
  .skillboxwrapper{
    
    gap: 5px;
  
  }
  .footerwrapper ul{
    display: flex;
    flex-direction: column;
  }
  .links{
    flex-direction: column;
  }
  .nameandlinks h1{
    text-align: center;
    
  }
  .hero{
    height: 30vh;
    background-image: url(../public/pawel-czerwinski-NTYYL9Eb9y8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  .heroBtn{
  
    margin-top: 25vh;
    
  }
  ul p{
    margin: auto;
    margin-right: 25px;
    margin-bottom: 15px;
    
    
  }
  ul{
    align-items: center;
  
  }
  .sociallinks{
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  #footerLinks{
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  #footerLinks a{
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
   
  }
  .projectbox{
    width: 95%;
  }
  .projimg{
    width: 95%;
  }
 
  
  #projectTitle{
    font-size: 60px;
    text-align: center;
    margin-left: auto;
  }
  .btns{
    width: 100%;
  }
  #box1{
  
    width: 100%;
    height: 260px;
  }
  #box2{
    width: 100%;
    height: 260px;
  }
  #box3{
    width: 100%;
    height: 260px;
  }
  #box4{
    width: 100%;
    height: 260px;
  }
  #aboutTitle{
    font-size: 60px;
    text-align: center;
    margin-left: auto;
  }
  #contactTitle{
    font-size: 60px;
    text-align: center;
    margin-left: auto;
  }
  .image1{
    display: none;
  }
  .image2{
    display: none;
  }
  

  
}


